/* 스타일 */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: transform 0.5s ease;
}

.intro {
    background-color: #f0f0f0;
}

.details {
    background-color: #c0c0f0;
}
